doctype 
html 
 head
  title second practice in pug and sass 
 body
  nav(class="navForSacondPractice")
   div(class="logoAndtitle") tomorrow universtiy 
   div(class="linksCenter")
    -for(let i = 0 ; i < 4 ; i++)
       a(href="http://") Home
   div(class="btnForNaber") get brochure 
  div(class="container")
   div(class="towElementFlex")
    div(class="textWithBtn")
     h1 online master's degree in susutainability 
     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea autem quidem eaque, nam, voluptates aspernatur ab nulla totam exercitationem, id consequuntur maiores magni dolorum fuga est! Omnis, non obcaecati.
     button(type="button") get bouchure 
     button(type="button") apply now 
     